a{
	color: #666;
}

a:hover{
	color: #000;
	text-decoration: none;
}

.ts-shelf-container {
    text-align: center;
    margin-bottom: 10px;
}

/* Geral */

#size-table,
#popup,
#exit_popup{
    background: rgba(0,0,0,.5);
    height: 100%;
}

.modal-dialog{
    padding: 0;
    padding-top: 10px;
}

#popup .modal-dialog,
#exit_popup .modal-dialog{
    opacity: 0;
}

.page img{
    width: 100%;
}

.container{
   /* width: 990px;
    max-width: none!important;
    */
    width: 100%;
    max-width: 1185px;
}

.box{
	background: #fff;
	box-shadow: 0 0 5px #888888;
	max-width: 990px;
	margin: 0 auto;
}

.block-header{
	border-bottom: 1px solid #000;
	height: 21px;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
	text-align: center;
}

.block-header span{
	background: #fff;
	font-size: 16px;
	padding: 0 10px;
	text-transform: uppercase;
}

img.block-header{
    border:none;
    display: block;
    height: inherit;
    margin: 0 auto;
    width: initial;
}

.category-header{
	border-bottom: 1px solid #e4e4e4;
	font-size: 22px;
	letter-spacing: 2px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

.page-header{
	border-bottom: 1px solid #e4e4e4;
	font-size: 22px;
	letter-spacing: 2px;
	margin:20px 0;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.breadcrumb{
	background: none;
	font-size: 12px;
	margin-top: 20px;
	padding: 0;
}

.cat_options{
	background: #fff;
	border: 1px solid #e4e4e4;
	position: relative;
}

.cat_options .viewas{
	margin-bottom: 0;
	padding: 0;
}

.cat_options .viewas li{
	display: inline-block;
	border-right: 1px solid #e4e4e4;
	margin-left: -4px;
	padding: 8px 0;
}

.cat_options .viewas li span,
.cat_options .viewas li a{
	padding: 10px 15px;
}

.cat_options .viewas i{
	font-size: 12px;
}

.filters{
	float: none !important;
	padding: 0;
	margin: 0 !important;
	position: inherit!important;
}

.cat_options .filters{
    list-style: none;
    padding: 10px !important;
}

.cat_options .filters li{
    margin-right: 10px;
}

.cat_options .filters li:after{
    content: '-';
    padding-left:15px;
}

.cat_options .filters li:first-child:after,
.cat_options .filters li:last-child:after{
    content: '';
    padding-left: 0;
}

.cat_options .filters .sub span.glyphicon{
    display:none;
}

.cat_options .filters .sub.active{
    font-weight:bold;
}

.cat_options .filters li{
    display:inline;
}

.filters .main .glyphicon{
	margin-left: 6px;
	top: 4px;
}

.filters ul{
	border: 1px solid #e4e4e4!important;
	box-shadow: none!important;
	padding: 0!important;
	right: -11px!important;
	top: 33px!important;
}

.filters ul li a{
	border-bottom: 1px solid #e4e4e4;
	padding: 6px 10px 5px 10px!important;
}

.filters a.main{
	padding:0 !important;
	padding-bottom: 5px !important;
}

.filters ul li:last-child a{
	border-bottom: none;
}

.filters ul li a:hover{
	background: #e4e4e4!important;
}

#topcontrol{
    right: 15px!important;
}

#topcontrol .top_button{
	background: #000;
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

#topcontrol .top_button:hover{
	background: #333;
}

#topcontrol .top_button:after{
	content: "";
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: none;
	height: 0;
	left: 6px;
	position: relative;
	top: -10px;
	width: 0;
}

#store-content img{
    width: auto;
    max-width: 100%!important;
}

#store-content .page-title{
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#store-content .btn-primary{
	background: #000;
	border-radius: 0;
	border: none;
	transition: background .2s;
}

#store-content .btn-primary:hover{
	background: #666;
}

#store-content .btn-primary:focus{
	outline: 0;
}

#store-content .btn-default{
	background: #fff;
	border-radius: 0;
	color: #666;
	transition: all .2s;
}

#store-content .btn-default:hover{
    border: 1px solid #000;
	color: #000;
}

#store-content .btn-default:focus
#store-content .btn-default:active{
	box-shadow: none;
	outline: 0;
}

#store-content .btn-default.active{
    border: 1px solid #000;
    color: #000;
}

.form-control{
	border-radius: 0;
	border-color: #e4e4e4;
	box-shadow: none;
	transition: border-color .2s;
}

.form-control:hover,
.form-control:focus{
	border-color: #999;
	box-shadow: none;
	outline: 0;
}

.input-group-addon,
.panel{
	border-radius: 0;
}

.panel-body .input-group{
    margin-bottom: 10px;
}

.panel-body .checkbox{
    margin-top: 0;
}

/* Alerts */
#flash{
    position:fixed;
    right: 0;
    max-width:300px;
    z-index: 25;
}

#flash .alert{
    border-radius:0px;
    margin:10px;
}

#flash .close-alert{
    cursor: pointer;
    font-size: 12px;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    margin-top: 5px;
    color:#fff;
}

#flash .alert{
    border:1px solid #000;
    background-color:#000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}


/*
#flash{
    position: absolute;
}

#flash .close span{
	font-size: 25px;
	line-height: 20px;
}

#flash .alert{
    background: #212325;
    border: none;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	right: 5px;
	line-height: 20px;
	position: fixed;
	opacity: 1;
	text-align: center;
	top: -100px;
	z-index: 9999;
}

#flash .alert-danger{
    color: #FF5F5C;
}

#flash .alert-success{
    color: #44BB45;
}



#flash .close-alert:after{
    content: '';
    background: #fff;
    bottom: -2px;
    height: 1px;
    left: 0;
    position: absolute;
    width: 0;
}

#flash .close-alert:hover:after{
    width: 100%;
    transition: width .5s;
}

*/
/* Popup */

#popup .modal-content,
#exit_popup .modal-content{
	background: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

#popup .modal-body,
#exit_popup .modal-body{
	padding: 15px;
}

#popup .modal-body h1,
#exit_popup .modal-body h1{
    font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

#popup .modal-body p,
#exit_popup .modal-body p{
    font-size: 14px;
	margin: 20px auto 25px;
	letter-spacing: 1px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	width: 355px;
}

#popup .modal-body span,
#exit_popup .modal-body span{
    color: #666;
    display:block;
    font-size: 12px;
	text-align: center;
}

#popup .close,
#exit_popup .close{
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    line-height: 12px;
    opacity: 1;
    padding: 7px 8px;
    position: absolute;
    outline: 0;
    right: 5px;
    top: 5px;
}

#popup .close:hover,
#exit_popup .close:hover{
    background: #666;
}

#popup .close i,
#exit_popup .close i{
    top: 0;
}

#popup form,
#exit_popup form{
    text-align:center;
    margin-bottom: 15px;
}

#popup input,
#exit_popup input{
    margin-right: 10px;
    padding: 7px;
    width: 200px;
}

#popup input:focus,
#exit_popup input:focus{
	border: 1px solid #666;
	outline: 0;
}

#popup button,
#exit_popup button{
	background: #000;
	border: 0;
	color: #fff;
	font-weight: bold;
	padding: 9px 15px;
	text-transform: uppercase;
	outline: 0;
}

#popup button:hover,
#exit_popup button:hover{
    background: #666;
}


/* Topo */

#topbar .list-inline{
	border-bottom: 1px solid #e4e4e4;
	border-top: 5px solid #000;
	font-size: 13px;
	margin-bottom: 0;
	padding: 7px 0;
}

#topbar .list-inline ul{
    list-style:none;
    padding: 0;
    margin-top: 4px;
}

#topbar .list-inline ul li{
    display:inline-block;
    margin-right: 10px;
}

#topbar .list-inline ul li:last-child{
    margin-right: 0;
}

#topbar .list-inline li:first-child{
	padding-left: 0;
}

#topbar .list-inline li:last-child{
	padding-right: 0;
}

#topbar .list-inline i{
	margin-right: 5px;
}

#topbar .list-inline i.glyphicon-shopping-cart{
	background: #000;
	color: #fff;
	font-size: 11px;
	margin-top: -4px;
	padding: 7px;
	top: 0;
	vertical-align: middle;
}

#top-search .input-group{
	border: 1px solid #e4e4e4;
	display: inline-table;
	margin-right: 5px;
	width: 220px;
}

#top-search .input-group button{
	border-radius: 0;
	padding: 5px 10px;
}

#top-search .input-group button:hover,
#top-search .input-group button:focus{
	outline: 0;
}

#top-search .input-group button i{
	color: #666;
	margin-right: 0;
	top: 0;
}

#top-search .input-group button:hover i{
	color: #000;
}

#top-search .input-group input{
	padding-right: 30px;
}

#top-search .input-group button,
#top-search .input-group input{
	border:0;
	border-radius: 0;
	box-shadow: none;
	color: #000;
	font-size: 12px;
	height: 25px;
    padding: 5px;
}

#top-search .input-group input::-webkit-input-placeholder{
    padding-left: 5px;    
    transition: opacity .5s;
}

#top-search .input-group input:focus::-webkit-input-placeholder{
    opacity: 0;
}

#top-search .input-group button{
    padding: 5px 10px;
}

#top-search.adjust .input-group button,
#top-search.adjust .input-group input{
    height: 35px;
}

#top-search.adjust .input-group{
    margin: 0;
    width: 100%;
}

#search-loader{
	display: none;
	position: absolute;
    left: 185px;
	top: 10px;
}

.adjust #search-loader{
    left: 260px!important;
    top: 8px!important;
}

#search-results{
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
	display: none;
	left: 15px;
	margin-top: 0;
	position: absolute;
	top: 45px;
	width: 220px;
	z-index: 9999;
}

.adjust #search-results{
    margin-top: -10px;
    width: 300px;
}

.arrowup{
	border-bottom: 5px solid #e4e4e4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: none;
	display: block;
	height: 0;
	margin: 0 auto;
	top: -10px;
	position: relative;
	width: 0;
}

#search-results-in{
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	margin-top: -10px;
}

#search-results a{
	display: block;
}


#search-results a:hover, #search-results a.up{
	background: #f4f4f4;
}

#search-results a:hover .name, #search-results a.up .name{
	color: #000;
}

#search-results .line span{
	font-size: 13px;
	color: #666;
}

#search-results .line .image{
	float: left;
	margin: 5px;
}

#search-results .line .image img{
	border: 1px solid #e4e4e4;
	width: 50px;
}

#search-results .line .desc{
	float: left;
	margin: 5px;
	width: 148px;
}

.adjust #search-results .line .desc{
    width: 228px;
}

#search-results .line .desc span{
	display: block;
	margin: 0 10px 0 0;
}

#search-results .line .desc .name{
	font-weight: 400;
	max-height: 36px;
	overflow: hidden;
}

#search-results .line .desc .category{
	color: #999;
}

#search-results .line .desc .price{
	color: #b34a4a;
	font-weight: bold;
}

#search-results .line .desc .price .saleprice{
	color: #999;
	float: left;
	font-weight: normal;
	margin-right: 5px;
	text-decoration: line-through;
}

#search-results .last{
	background: #e4e4e4;
}

#search-results .last a:hover, #search-results .last a.up{
	background: #d4d4d4;
}

#search-results .last a{
	color: #666;
	font-size: 12px;
	padding: 10px 0;
	text-decoration: none;
}

#topbar .container-fluid .navbar, 
#topbar .container-fluid .list-inline{
    padding-left: 10px;
    padding-right: 10px;
}

/* Header & Menu */

header .logo-base{
	margin:0;
}

header .logo{
	padding-bottom: 25px;
	padding-top: 25px;
}

.col-xs-4 .logo{
    max-width: 100%;
}

#menu .navbar{
	border:none;
	border-bottom: 2px solid #000;
	border-top: 1px solid #e4e4e4;
	background: none;
	border-radius: 0;
	margin-bottom: 0;
	z-index: 2;
}

#menu .navbar-nav{
	float: none;
	letter-spacing: -4px;
	text-align: center;
}

#menu.adjust .navbar-nav{
    text-align: right;
}

#menu .navbar-nav>li{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	display: inline-block;
	float: none;
	letter-spacing: normal;
}

#menu .navbar-nav>li:hover{
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}

#menu .navbar-nav>li.open a,#menu .navbar-nav>li.open a:hover,#menu .navbar-nav>li.open a:focus{
	background: none;
}

#menu .navbar-nav>li a h2{
    font-size:14px;
    display:inline-block;
    margin:0px;
}

#menu .navbar-nav>li a{
	letter-spacing: .5px;
	text-transform: uppercase;
	font-size:14px;
}

#menu .navbar-nav>li a .caret{
	border-bottom-color: #666;
	border-top-color: #666;
}

#menu .navbar-nav>li a:hover .caret{
	border-bottom-color: #000;
	border-top-color: #000;
}

#menu .navbar-nav .dropdown-menu{
	background: #000;
	border:none;
	border-radius: 0;
	box-shadow: none;
	left: -1px;
	min-width: 100%;
}

#menu .navbar-nav .dropdown-menu a{
	color: #999;
	font-size: 12px;
	letter-spacing: 0;
	padding:8px 15px;
	text-align: left;
	text-transform: capitalize;
}

#menu .navbar-nav .dropdown-menu a:hover{
	color: #fff;
}

/* Banners */

.bannerTarja {
    margin-top: 5px;
}

.bannerTarjaInf {
    margin-bottom: 20px;
}

.container + .container #carousel {
    margin-top: 5px;
}

.container-fluid .row{
	margin: 0;
}
.container-fluid .col-xs-12{
	padding: 0;
}

.container-fluid #carousel{
	margin-bottom: 20px;
}

.container #carousel{
	background: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}


.carousel-indicators{
	bottom: 0;
}

.carousel-indicators li{
	border-width: 2px;
	height: 14px;
	margin: 0;
	width: 14px;
}

.carousel-indicators .active{
	height: 14px;
	width: 14px;
}

.carousel-control,
.carousel-control:hover{
	opacity: 0;
	transition:opacity .5s;
}

.carousel-control.left{
	background: none;
	border-left: 30px solid #fff;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	height: 0;
	width: 0;
	z-index: 6;
}

.carousel-control.right{
	background: none;
	border-right: 30px solid #fff;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	height: 0;
	width: 0;
	z-index: 6;
}

.carousel-control .arrowleft{
	position: absolute;
	background: none;
	border-right: 8px solid #666;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	height: 0;
	left: -30px;
	top:-8px;
	width: 0;
}

.carousel-control .arrowleft:after{
	content: "";
	position: absolute; 
	background: none;
	border-right: 7px solid #fff;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	height: 0;
	left: 1px;
	top:-7px;
	width: 0;
}

.carousel-control .arrowright{
	position: absolute;
	background: none;
	border-left: 8px solid #666;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	height: 0;
	right: -30px;
	top:-8px;
	width: 0;
}

.carousel-control .arrowright:after{
	content: "";
	position: absolute;
	background: none;
	border-left: 7px solid #fff;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	height: 0;
	right: 1px;
	top:-7px;
	width: 0;
}

.carousel-control.left:hover .arrowleft{
	border-right-color: #000; 
}

.carousel-control.right:hover .arrowright{
	border-left-color: #000; 
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width: 100%;
}

.container-fluid .carousel-control .arrowleft{
	left: -26px;
}

.container-fluid .carousel-control .arrowright{
	right: -27px;
}

.carousel-caption{
    background: rgba(0,0,0,.8);
    bottom: 0px;
}

.carousel-caption h3{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.carousel-caption p{
    font-size: 18px;
}

.bannerExtra img{
    width: 100%;
}

/* Images */

.ig-option{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Color */

.colorsOption{
	position: relative;
}

.colorsBox{
	list-style: none;
	padding: 0;
	position: absolute;
	right: 5px;
	top: -35px;
}

.l-color{
	float: left;
	padding: 0 3px;
	position: relative;
}

.s-color{
	padding:2px 10px;
	border: 1px solid #000;
}

.s-double{
	position:absolute;
	left: 4px;
}

#product .s-double{
	left: 1px;
}

.s-1-color{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #007bff transparent transparent;
	position: absolute;
}

.s-2-color{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 0 20px;
	border-color: transparent transparent transparent #000000;
	position: absolute;
}


.s-3-color{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #000000;
	position: absolute;
}

.s-4-color{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #000000 transparent;
	position: absolute;
	top: 10px;
}

.s-5-color{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #000000 transparent transparent;
	position: absolute;
	left: 10px;
}


/* Product Listing General */

#store-content .prod-wrapper a{
	display: block;
}

#store-content .prod-wrapper{
	position: relative;
	max-height:562px;
}

.pagina-categoria #store-content .prod-wrapper{
	max-height:500px;
}

#store-content .prod-wrapper .prod-image{
    background: #fff;
}

.pagina-categoria #store-content .prod-wrapper .prod-image{
    /*height: 329px!important;*/
    height: 402px!important;
}

#store-content .prod-wrapper .prod-hover-image{
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity .2s;
	width: 100%;
}



#store-content .prod-wrapper .prod-info{
	background: #fff;
	margin-bottom: 15px;
}

#store-content .product-list-item{
	margin-top: 20px;
	margin-bottom: 0; 
}

#store-content .out{
	background: #F83434;
	color: #fff;
    cursor: default;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	z-index: 10;
}

#store-content .promo{
	background: #f5ea32;
    cursor: default;
	font-size: 12px;
	height: 30px;
	letter-spacing: 1px;
	padding-top: 7px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	width: 60px;
	z-index: 10;
}

#store-content .off{
	background: #000;
	color: #fff;
	cursor: default;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 0;
	text-align: center;
	top: 30px;
	width: 60px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	z-index: 666;
}

#store-content .prod-wrapper .prod-info h3{
	margin: 15px 0;
	font-size: 16px;
	text-align: center;
}

#store-content .prod-wrapper .prod-info p{
	font-size: 14px;
	margin: 0;
	text-align: center;
}

.myaccount #mywishlist .slash,
#store-content .prod-wrapper .prod-info p .slash,
#store-content .prod-wrapper .prod-info p.outofstock,
#store-content .prod-wrapper .prod-info .installments-price,
#store-content .prod-wrapper .prod-info .installments-price strong{
	color:#999;
}

#store-content .prod-wrapper .prod-info p .slash{
	margin-right: 5px;
	text-decoration: line-through;
}

.myaccount #mywishlist .sale,
#store-content .prod-wrapper .prod-info p .sale{
	color: #b34a4a;
}

#store-content .prod-wrapper .prod-action{
	background: #fff;
	border-top: 1px solid #e4e4e4;
	border-bottom: 2px solid #000;
	padding: 7px;
	position: relative;
	z-index: 10;	
	text-align: center;
	
	position:absolute;
	left: 0;
    right: 0;
    bottom: 52px;
}

#store-content .prod-wrapper .prod-action span{
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#store-content .prod-wrapper .prod-action:hover{
	background: #333;
	border-color: #333;
	cursor: pointer;
}

#store-content .prod-wrapper .prod-action:hover span{
	color: #fff;
}

/* Product */

.pagina-produto #store-content .container {
    width: 990px;
}

#store-content #product .showcase .prod-image{
    border: 1px solid #bbb;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	position: relative;
	overflow:hidden;
	width: 80%
}

#store-content #product .showcase .prod-image img{
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
	max-height: 575px;
	max-width: 100%;
}

.zoomWindow{
	border: 2px solid #000!important;
	top: -1px!important;
}

#product .showcase .off{
    position:absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

#product .showcase .off span{
    width:50px;
    font-size:18px;
}

#gallery img{
	border:1px solid #ddd;
}

#store-content #product .prod-image-thumbs .active img,
#gallery a:hover img{
	border:1px solid #bbb;
}

#store-content #product .prod-image-thumbs{
	float: left;
	margin-right: 10px;
	width: 75px;
}


#store-content #product .prod-image-thumbs a{
	display: block;
	margin-bottom: 10px;
}

#size-table .modal-header{
	border:none;
}

#size-table .modal-content{
	border-radius: 0;
}

#size-table .nav-tabs>li{
	min-width: 144px;
	text-align: center;
}

#size-table .nav-tabs>li:first-child{
	border-left:none;
}

#size-table .tab-pane img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

#size-table .tab-content{
	padding: 0!important;
}

#size-table .nav-tabs{
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

#size-table .nav-tabs>li>a{
	border-radius: 0;
	margin: 0;
}

#size-table .nav-tabs>li.active>a,
#size-table .nav-tabs>li.active>a:hover,
#size-table .nav-tabs>li.active>a:focus{
	border-radius: 0;
	border-top-color: transparent;
	font-size: 14px;
	margin: 0;
	text-transform: none;
	letter-spacing: 0;
}

#store-content .prod-title{
	font-size: 24px;
	letter-spacing: 3px;
	margin: 0;
	padding-bottom: 5px;
	text-transform: uppercase;
}

#store-content .prod-sub {
	background: #f0f0f0;
	border-top: 1px solid #ccc;
	padding: 5px 10px;
}

#store-content .prod-sub .prod-ref{
	border-radius: 5px;
	color: #888;
	font-size: 12px;
}

#store-content .prod-sub .prod-secure{
	color: #333;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

#store-content .prod-excerpt{
	margin-top: 15px;
}

#store-content .prod-excerpt h4{
	background: #fff;
	color: #666;
	display: table;
	font-size: 14px;
	letter-spacing: 4px;
	margin-left: 10px;
	margin-top: -8px;
	padding: 0 5px 0 10px;
	text-transform: uppercase;
}

#store-content .prod-excerpt p{
	color: #666;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	text-align: justify;
}

#store-content .prod-subacts .addwish-btn-form button,
#store-content .prod-subacts .prod-size-table a,
#store-content .prod-subacts {
	width: 100%;
}

#store-content .prod-subacts .col-xs-6:first-child{
	padding-right: 0;
}

#store-content .prod-size-table,
#store-content .add-to-wishlist{
	margin-bottom: 15px;
	margin-top: 15px;
}

#store-content .prod-size-table i,
#store-content .add-to-wishlist i{
	top: 2px;
}

#store-content .prod-variants ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#store-content .prod-variants label{
    margin-top: 15px;
}


.prod-variant .prod-variant-btn{
    position:relative;
}
#store-content #product .prod-variant-li:nth-child(n+2){
    margin-top: 10px;
}

#store-content .prod-frete{
    margin-top: 15px;
}

#store-content .prod-frete,
#store-content #product .prod-variants{
	background: #f9f9f9;
	border: 1px solid #bbb;
	padding: 10px;
}

#store-content .frete_results{
    margin-top: 10px;
}

#store-content .frete_results p{
    color: #333;
    margin: 0;
    background: #eee;
    margin-bottom: 5px;
    padding: 5px;
}

#store-content .frete_results p:last-child{
    margin-bottom: 0;
}

#store-content #product .prod-variants .prod-variant-title{
	color: #666;
	display: block;
}

#store-content #product .prod-variants .list-inline li{
	padding-right: 10px;
	padding-left: 0;
	margin-top: 10px;
}

#store-content #product .prod-variants .list-inline li button{
	border-radius: 0;
}

#store-content #product .prod-variants .list-inline li button:focus{
	outline: 0;
}

#product .list-inline .l-color button{
	border: 1px solid #333;
	padding: 0;
	opacity: .7;
}

#product .list-inline .l-color button.active,
#product .list-inline .l-color button:hover{
	border: 1px solid #000;
	opacity: 1;
}

#product .list-inline .l-color .s-color{
	border: none;
}

#product .prod-variants .list-inline li:first-child{
	padding-left: 0;
}

#store-content #product .showcase .prod-action{
	background: #000;
	margin-top: 15px;
	padding: 15px;
}

#product .prod-action .estoque {
    color: #FFF;
}

#product .prod-action .estoque span {
    color: #FF6C00;
    font-weight: bold;
}

#product .prod-action .buy-btn-form .alert-danger{
	background: #d32929;
	color: #fffafa;
	border: none;
	border-radius: 0;
	font-size: 14px;
    text-align:center;
    text-transform: capitalize;
}

#product .prod-action .buy-price .slash{
	color: #999;
	display: block;
	font-weight: normal;
	text-decoration: line-through;
}

#product .prod-action .buy-price .sale{
	color: #f5f5f5;
	display: block;
	font-size: 30px;
	line-height: 31px;
}

#product .prod-action .installments-price{
	color: #999;
}

#product .prod-action .remindme-form{
	margin-top: 15px;
}

#product .prod-action .remindme-form fieldset label{
    color: #efefef;
}

#product .prod-action .remindme-form fieldset input[type=text]{
    height:42px;
}

#product .prod-action .buy-btn,
#product .prod-action .remindme-form fieldset input[type=submit]{
	background: #41972b;
	border-left-color: 1px solid #000;
    font-size: 13px;
    font-weight: bold;
    margin:0;
    padding: 12px 20px;
    text-transform: uppercase;
}

#product .prod-action .buy-btn:hover,
#product .prod-action .remindme-form fieldset input[type=submit]:hover{
	background: #367A23;
}

#product .prod-action .buy-btn{
	display: block;
	font-size: 20px;
	letter-spacing: 1px;
	width: 100%;
}

#product .prod-action .buy-btn i{
	display: none;
}

#product .buy-message{
	background: #ffce34;
	border: none;
	color: #2e2e2e;
	font-size: 12px;
	margin: 15px 0 0 0;
	text-align: center;
	padding: 10px;
}

#product .prod-share{
	margin-top: 15px;
}

#product .prod-description{
	margin-top: 15px;
}

#product .prod-description .tab-content{
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
	color: #999;
	padding: 15px;

}

#product .prod-description .tab-content p{
    margin: 0;
}

#product .nav-tabs>li.active>a{
	border-radius: 0;
}

#product #size-table .nav-tabs>li:first-child.active>a{
    border-left: none;
}

#product-cat .prod-image{
	height: 150px;
	margin-bottom: 20px;
	margin-top: 40px;
	width: 100%;
}

/* Cartview */

#cartview .alert{
    border-radius: 0;
	margin-top: 20px;
}

#cartview .page-header{
	border-bottom: 0;
	margin: 25px 0 10px 0;
}

#cartview .page-header h2{
	border-bottom: 1px solid #e4e4e4;
	font-size: 22px;
	letter-spacing: 2px;
	margin: 0;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

#cartview #checkout_summary table{
	margin-bottom: 0;
}

#cartview #checkout_summary table thead{
	background: #474747;
	border: 1px solid transparent;
	color: #fff;
}

#cartview #checkout_summary .cart-product-img,
#cartview #checkout_summary table thead th,
#cartview #checkout_summary table tbody td{
	border: none;
}

#cartview #checkout_summary table thead th:last-child,
#cartview #checkout_summary table tbody td:last-child,
#cartview #checkout_summary table tfoot td:last-child{
	text-align: center;
}

#cartview #checkout_summary .cart-product-img{
	border-right: 1px solid #efefef;
}

#cartview #checkout_summary table tbody td strong+div,
#cartview #checkout_summary table tbody td .strike{
	color: #999;
}

#cartview #checkout_summary table tbody td .normal,
#cartview #checkout_summary table tbody td .sale{
	color: #b34a4a;
	font-weight: bold;
}

#cartview #checkout_summary table tfoot tr,
#cartview #checkout_summary table tbody tr{
	border: 1px solid #e7e7e7;
}

#cartview #checkout_summary table tfoot tr{
    background: #F0F0F0;
}


#cartview #checkout_summary table tbody td .btn-danger{
	border: 1px solid #BD2925;
	border-radius: 0;
	width: 40%;
}

#cartview #checkout_summary table tbody td .alter_qty,
#cartview #checkout_summary table tbody td .remov_prod{
	color: #666;
    display: inline-block;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    float:left;
    border-bottom:1px solid transparent;
}

#cartview #checkout_summary table tbody td .alter_qty:hover{
	border-bottom:1px solid #666;
}

#cartview #checkout_summary table tbody td .remov_prod{
    color:#b34a4a;    
}

#cartview #checkout_summary table tbody td .remov_prod:hover{
    border-bottom:1px solid #b34a4a;    
}

#cartview .summary .cart-summary-bottom{
	background: #474747;
	padding: 7px 10px;
	margin: 0;
}

#cartview .summary .cart-summary-bottom .col-md-6{
	padding: 0;
}

#cartview .summary .cart-summary-bottom .cart-coupon{
	color: #fff;
	width: 60%;
}

#cartview .summary .cart-summary-bottom .cart-coupon label{
    margin:0;
	margin-right: 5px;
	padding-top: 7px;
}

#cartview .summary .cart-summary-bottom .cart-coupon .input-group{
	display: inline-block;
}

#cartview .summary .cart-coupon .btn-default{
	background: #41972b;
	border: 1px solid #41972b;
	color: #fff;
	font-weight: bold;
	margin-left: -5px;
	text-transform: uppercase;
}

#cartview .summary .cart-summary-bottom .cart-secure{
	color: #fff;
}

#cartview .summary .cart-summary-bottom .cart-secure ul{
    margin:0;
}



/* Instagram */

#instafeed{
	margin-top: 20px;
}

#instafeed .col-xs-2{
	margin-bottom: 20px;
}

/* Category */

.sidebar .side-header{
	background: #000;
	color: #fff;
	padding: 7px 10px;
	text-transform: uppercase;
}

.sidebar .side-header i{
	font-size: 12px;
	margin-right: 5px;
}

.sidebar ul{
	border: 1px solid #e4e4e4;
	list-style: none;
	margin-bottom: 20px;
	padding: 0;
	position: relative!important;
	right: 0!important;
	top: 0!important;
}

.sidebar .filters-side .glyphicon{
	display: none!important;
}

.sidebar ul li{
	border-bottom: 1px solid #e4e4e4;
}

.sidebar ul li:last-child{
	border-bottom: none;
}

.sidebar ul li span,
.sidebar ul li a{
	display: block;
	font-weight: bold;
	padding: 5px 15px;
}

.sidebar ul li.active a,
.sidebar ul li a:hover{
	background: #e4e4e4;
}

.sidebar ul li.child a{
	font-weight: normal;
	padding-left: 30px;
	text-align: left;
}

.sidebar ul li.child:before{
	content: "> ";
	font-size: 10px;
	float: left;
	height: 0;
	margin-top: 8px;
	padding-left: 15px;
	padding-right: 5px;
	width: 0;
}

.sidebar .sub .glyphicon,
.sidebar .price-max .glyphicon{
	color: #999;
	font-size: 12px;
	float: right;
	margin-top: 2px;
}

#filter-widget .filters .sub .glyphicon{
	margin-right: 5px;
}

#store-content .category-img img{
	margin-bottom: 10px;
	width: 100%;
}

.no-prod{
	font-size: 24px;
	color: #999;
	letter-spacing: 2px;
	text-align: center;
	margin:40px 0;
}

.pagination{
	border-radius: 0!important;
	margin: 10px 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-radius: 0!important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-radius: 0!important;
}

.pagination>li>a, .pagination>li>span{
	background: #fff!important;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus{
	background-color: #666!important;
	border-color: #666!important;
	color: #fff!important;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>span{
	background-color: #000!important;
	border-color: #000!important;
}

/* Minha conta */

.myaccount{
	margin-top: 20px;
}

.myaccount .tab-content{
	padding: 10px 0 !important;
}

.myaccount .table td{
	vertical-align: middle;
}

.myaccount .inbox{
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 10px;
}

.myaccount .inbox h4{
    font-size: 14px;
    font-weight:bold;
	margin: 0;
}

.myaccount .inbox .btn_link{
	font-size: 14px;
}

.myaccount .panel-default{
	border-color: #ccc;
	border-radius: 0 !important;
	border-top: none;
}

.myaccount .row:last-child .panel-default{
	margin-bottom: 0;
}

.myaccount .panel-body{
	padding: 10px;
}


.myaccount .panel-body ul{
	list-style: none;
	margin-bottom: 0;
	padding-left: 0 !important;
}

.myaccount .panel-body ul li{
	margin-bottom: 5px;
}

.myaccount .panel-body ul li:last-child{
	margin-bottom: 0;
}

#address_modal_form h3.no-margin{
    font-size: 18px;
    line-height: 1.428571429;
    margin: 0;
}

.myaccount .btn-primary{
	background: #000;
	border: none!important;
	border-radius: 0!important;
	transition: background .2s;
}

.myaccount .btn-primary:hover{
	background: #666;
}

.myaccount .btn-success,
.myaccount .btn-danger,
.myaccount .btn-default{
	border-radius: 0!important;
	transition: background .2s;
}

.myaccount .panel-newsletter small
.myaccount .panel-newsletter label{
	vertical-align: sub;
}

.myaccount .panel-body .alert-danger{
	margin-bottom: 0;
}

.myaccount .table tbody>tr>td{
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

.myaccount #myorders .table tbody>tr>td{
	border-bottom: none!important;
}

.myaccount .table thead>tr>th{
	background: #474747;
	color: #fff;
	border:0;
}

.myaccount .table-striped>tbody>tr:nth-child(odd)>td{
	background: #fff;
}

.myaccount .table-striped>tbody>tr:nth-child(even)>td{
	background: #f9f9f9;
}

.myaccount .alert,
.myaccount #mywishlist .thumbnail,
.myaccount #mytestimonials textarea,
.myaccount #mytestimonials .thumbnail{
	border-radius: 0!important;
}

.myaccount .rating-list{
	padding-left: 0;
}

.myaccount #mywishlist p{
    color: #666;
    margin-top: 20px;
}

/* Noticias */

#news .news-block{
	margin-bottom: 20px;
	margin-top: 40px;
}


#news .news-item .time{
	color: #999;
	font-style:italic;
	font-size:12px;
}

#news .news-item .title{
	font-size:16px;
	font-weight: bold;
	margin:0 0 5px 0;
}

#news .news-item .title a{
	color: #000;
}

#news .news-item .title a:hover{
	color: #333;
}

#news .news-item .resume{
    background: #f7f7f7;
    color: #888;
    font-family: Palatino, "Palatino Linotype", serif;
    font-size: 15px;
    line-height:20px;
    margin: 5px 0;
    padding: 5px 10px;
}

#news .news-item .readmore{
    display:block;
    font-size:12px;
    text-align:right;
    text-transform:lowercase;
}

/* Order Details */

#store-content .orderAct{
    margin-top: -65px;
    position: relative;
}

#store-content .orderAct i{
    top: 2px;
}

#store-content .orderAct a{
    margin-left: 5px;
}

#store-content .orderAct a:hover span{
	padding: 0 10px;
}

#store-content .orderAct a span{
	background: #fff;
    position: absolute;
    top: 0;
    z-index: 9999;
}

#store-content .order-detail-wrap h3{
    background: #F5F5F5;
    border:1px solid #ccc;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 7px 10px;
}

#store-content .order-detail-wrap .order-detail-info{
    background:#fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

#store-content .order-detail-wrap table thead tr{
    background: #474747;
    border: 1px solid transparent;
    color: #fff;
}

#store-content .order-detail-wrap table thead tr th{
    border:none;
}

#store-content .order-detail-wrap table tbody tr{
    border: 1px solid #e4e4e4;
}

#store-content .order-detail-wrap table tfoot tr{
    background: #F0F0F0;
    border: 1px solid #e4e4e4;
}

.share-product-list .thumbnail{
    border-radius: 0;
}

.share-product-list a.thumbnail:hover,
.share-product-list a.thumbnail.active{
    border-color: #000;
}

/* Acompanhe Seu Pedido */

.tracking{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
}

.tracking .step{
	float: left;
	margin-right: 37px;
	text-align: center;
	width: 212px;
}

.tracking .step span{
	background: #e4e4e4;
	color: #888;
	display: block;
	font-weight: 700;
	padding: 20px 20px 20px 30px;
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
}

.tracking .step.done span{
	background: #000; 
	color: #fff;
	margin-bottom: 5px;
}

.tracking .step.actual span{
	background: #CACACA;
	color: #686868;
}

.tracking .step span:before{
	content: '';
	border-left: 15px solid #fff;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	height: 0;
	position: absolute;
	left: 0px;
	top: 0;
	width: 0;
}

.tracking .step span:after{
	content: '';
	border-left: 15px solid #e4e4e4;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	height: 0;
	position: absolute;
	right: -15px;
	top: 0;
	width: 0;
}

.tracking .step.done span:after{
	border-left-color: #000;
}

.tracking .step.actual span:after{
	border-left-color: #CACACA;
}

.tracking .step:first-child span{
	padding: 20px;
}

.tracking .step:first-child span:before{
	content: initial;
}

.tracking .step:last-child{
	margin-right: 0;
}

.tracking .step:last-child span:after{
	content: initial;
}

.tracking .step p{
	color: #999;
	font-size: 12px;
	margin: 0;
	text-align: center;
}

.tracking .step a{
	margin-top: 5px;
}

.tracking .step i{
    top: 2px;
}

/* Footer */

footer{
    margin-top: 20px;
}

footer h4{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	padding-bottom: 15px;
}

footer .ebit{
    margin-bottom: 20px;
}

footer .links{
    padding-bottom: 20px;
}

footer .block:last-child{
    padding-top: 20px;
}

footer .config{
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}

footer .config p{
    margin: 0;
}

footer .config ul{
    list-style: none;
    margin: 0;
    padding: 4px 0;
}

footer .config ul li{
    color: #999;
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}

footer .config ul li:last-child{
    padding: 0 0 0 5px;
}

footer .block:first-child{
	border-top: 2px solid #000;
	padding-top: 10px;
}

footer .block:last-child{
	border-bottom: 5px solid #000;
}

footer .links ul{
	padding: 0;
	list-style: none;
}

footer .links ul li{
	padding-bottom: 10px;
	transition: all .2s linear;
}

footer .links ul li a{
	padding-left: 5px;
}

footer .links ul li:hover{
	padding-left: 10px;
}

footer .links ul li:before{
	content: "→";
	font-size: 14px;
}

footer .block .nw-title{
	color: #666;
	font-size: 14px;
	margin-bottom: 5px;
}

footer .block .input-group{
	width: 250px;
}

footer .block input{
	border-radius: 0;
	border-color: #e4e4e4;
	color: #666;
	width: 150px;
}

footer .block input:hover,
footer .block input:focus{
	box-shadow: none;
	border-color: #999;
	outline: none;
}

footer .block button{
	background: #000;
	border-radius: 0;
	color: #fff;
	transition: background .2s;
}

footer .block button:focus{
	color: #fff;
	outline: 0;
}

footer .block button:hover{
	background: #666;
	color: #fff;
}

footer .payments p{
    display:inline;
}

/* Blog */

#blog .blog-item{
    margin: 10px 0 20px;
}

#blog .blog-item .time{
    color: #666;
}

#blog .blog-item .title a{
    color:#333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

#blog .blog-item .title a:hover{
    color:#000;
}

#blog .blog-item .resume{
    background: #F0F0F0;
    display: block;
    font-size: 14px;
    letter-spacing: 0px;
    padding: 10px;
}

#blog .blog-item .resume p{
    margin:0;
}

#blog .blog-item .readmore{
    background: #000;
    color: #fff;
    float: right;
    margin-top: 10px;
}

#blog .blog-item .readmore a{
    color: #fff;
    display: block;
    padding: 5px 10px;
}

#blog .blog-item .readmore:hover{
    background: #333;
}

#blog-posts{
    position: relative;
    margin-top: -10px;
}

#blog-posts .blog-item{
    overflow:hidden;
    max-width: 250px;
}

.blog-item img{
	position: relative;
	transition: all .5s;
	width: 100%;
}
.blog-item img:hover{
    transform:scale(1.1);
}

.blog-item .item-date{
    background: #000;
    color: #fff;
    padding: 0 5px;
    position:absolute;
    margin: 0;
    top: 10px;
}

.blog-item .item-title{
	background: #000;
	font-size: 16px;
	position:relative;
}

.blog-item .item-title a{
	color: #666;
	display:block;
	font-size: 14px;
	padding: 5px 10px;
	letter-spacing: 1px;
	line-height: 20px;
}

.blog-item:hover .item-title a{
	color: #fff;
}

.blog-item h2{
    margin-top:0;
}

.blog-item .cat_options{
    padding: 10px;
}

.blog-item .cat_options span{
    color: #666;
}

.blog-item .resume{
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.blog-item .body{
    color: #666;
    font-size:14px;
    margin-bottom: 20px;
}

.pagination-centered{
	text-align: center;
}

/* Social */

.fb_widget {
    margin-top: 20px;
}

.social-icons{
	color: #000;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 22px;
	transition: color .2s;
}

.social-icons:hover{
	color: #666;
}

/*Checkout*/
#pagseguro_container .well{
    background: none;
    border: 0 none;
    box-shadow: none;
}

/*Variant*/
.f-color.variant-unavailable:after{
    content: 'x';
    color: red;
    position: absolute;
    font-weight: bold;
    top:4px;
    right: 11px;
}
.variant-unavailable:after{
    content: 'x';
    color: red;
    position: absolute;
    font-weight: bold;
    bottom: -2px;
    right: 2px;
}

/* Look */

#look .well{
    background: #F0F0F0;
    border: 0;
    border-top: 1px solid #ccc;
    border-radius: 0;
}

#look h5{
    background: #ccc;
    color: #333;
    font-weight: bold;
    margin:0;
    padding: 5px 10px;
}

#look input[type=checkbox]{
    vertical-align: sub;
    margin-left: 5px;
}

#look .s-double{
    left: 0px;
}

#look .single_price{
    font-size: 16px;
    font-weight: bold;
}

#look .buy-price del{
    color: #999;
    font-size: 20px;
    margin-right: 10px;
}

#look .buy-price .onsale{
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

#look .buy-price p{
    color: #999;
    margin-bottom: 0;
}

#look .btn-buy-look{
    font-size: 18px !important;
}

.campaign-jumbotron{
    border-radius: 0;
    margin-top: 20px;
}

#look .buy-message{
    margin: 0;
}

#cartview{
    position: relative;
}

.contBuy{
    background: #fff;
    border: 1px solid #000;
    margin-top: -15px;
    padding: 8px 15px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.bannerExtra{
    margin-bottom: 20px;
}

.languages {
    text-align: center;
}

.languages ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.languages ul li:first-child {
    font-weight: bold;
    display: block;
}

.languages ul li {
    display: inline-block;
}

.flag{
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    height: 22px;
    width: 29px;
    opacity: .8;
}

.flag:hover{
    opacity: 1;
}

.flag-br{
    background-image: url('https://assets.xtechcommerce.com/assets/7100/1466470959/img/br.svg');
}

.flag-us{
    background-image: url('https://assets.xtechcommerce.com/assets/7100/1466470959/img/us.svg');
}

.testimonials-rating-totals li, .testimonials-ratings li{
    list-style: none;
}

.prod-video{
    float: right;
    background: #fafafa;
    padding: 5px 5px 5px 12px ;
    text-align: center;
    color: #666;
    border: 1px solid #eee;
}

.prod-video p{
    margin: 0;
}

.inner-video{
    margin-left: 10px;
}

.wish-alert{
    display:none;
    padding: 10px;
    line-height: 16px;
    text-align:center;
    font-weight: bold;
    position: absolute;
    bottom: 100%;
    margin-right:15px;
    overflow: visible!important;
}

.wish-alert:after{
    content: '';
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 100%;
    left: 48%;
}

.wish-alert.error{
    background: #ff6060;
    color: #7B2222;
}

.wish-alert.error:after{
    border-top-color: #ff6060;
}

.wish-alert.success{
    background: #A9FF6F;
    color: #4B742F;
}

.wish-alert.success:after{
    border-top-color: #A9FF6F;
}


.cart-coupon input[type=text] {
    float:left;
}



#ProdModal .btn-finalizar{
    background-color: green;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
}

#ProdModal .btn-contBuy{
    opacity: 1;
    color: #666;
    background-color:#fff;
    font-size: 13px;
    text-transform: uppercase;
    float: none;
    display: inline-block;
    font-weight: normal;
    text-shadow: none;
    padding: 5px;
    margin: 5px 0px;
    width: 50%;
    outline:none!important;
}

#ProdModal .prod-title{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
    background-color: #f4f4f4;
    padding: 5px 10px;
}

#ProdModal .prod-price{
    padding:10px;
}

#ProdModal .prod-price strong{
    font-size:22px;
}

#ProdModal .subtotal-modal{
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    letter-spacing: 0.5px;
    font-size: 14px;
    padding: 5px;
}

.p-top-20{
    padding-top:20px;
}

#store-content .product-list-item .prod-wrapper .onsight-price{
    padding-bottom:5px;
}

/* CARRINHO */
.btn-quantity{
    color:#666;
    background-color:transparent;
    border:0px;
    outline:none;
    position:absolute;
    top: 9px;
    font-size: 10px;
}

.btn-quantity.btn-minus{
    left:0;
}

.btn-quantity.btn-plus{
    right:0;
}

.input-group input[name^="cartkey"]::-webkit-inner-spin-button, 
.input-group input[name^="cartkey"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-group input[name^="cartkey"]{
    -moz-appearance:textfield;
}


.nextStep{
    background: #fff;
    border: 1px solid #000;
    padding: 8px 15px;
    text-transform: uppercase;
    float: right;
}

#cartview #checkout_summary .vertical-cart{
    vertical-align:middle;
}

#cartview #checkout_summary .vertical-cart > label{
    display:inline-block;
    margin-right:5px;
    vertical-align:middle;
    margin-left:10px;
    width: 110px;
}

#cartview #checkout_summary .vertical-cart > .input-group{
    display:inline-block;
    vertical-align:middle;
}

#cartview #checkout_summary .vertical-cart #zip_code,
#cartview #checkout_summary .vertical-cart .input-group-search-address{
    display:inline-block;
}

#cartview #checkout_summary .vertical-cart > .input-group > input,
#cartview #checkout_summary .vertical-cart > .input-group > span > a{
    width:150px!important;
}

.shippingwrapInicial{
    margin-top:5px;
}

.shippingwrapInicial table tr{
    border:0px!important;
}

.shippingwrapInicial table tr td{
    padding:10px!important;
}

.checkout{
    width:100%;
}

#cartview .checkout h2{
    font-size: 18px;
    text-transform:uppercase;
    font-weight:bold;
    padding: 10px 0px;
    color: #000;
    margin: 0px 0px 5px 0px;
    
}

#cartview .checkout h2 > span{
    background-color: #000;
    color: #fff;
    width: 27px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    height: 27px;
    vertical-align: middle;
    padding: 5px 0px;
    font-size: 14px;
    margin: -1px 5px 0px 0px;
}

#cartview #checkout-resume{
    font-size:12px;
    margin-bottom:20px;
}

#cartview #checkout-resume table{
    margin-bottom:0px;
}

#cartview #checkout-resume table tr td:last-child{
    white-space: nowrap;
}

.checkout label,
.checkout select,
.checkout input{
    font-size:12px;
}

.checkout .cart-account-buttons button{
    width: 48%;
    float: left;
    font-size: 11px;
    text-align: center;
}

.checkout .cart-account-buttons button#person_fields_btn,
.checkout .cart-account-buttons button#company_fields_btn{
    margin-right:2%;
}

.checkout-box{
    padding: 10px;
    background-color:#f4f4f4;
    box-sizing: border-box;
}

.nopad-right{
    padding-right:2px;
}

.nopad-left{
    padding-left:2px;
}

.cart-newsletter{
    font-size: 11px;
    padding: 10px 0px 15px 0px;
}

.checkout-box div[class^="col-md"]{
    margin-top:10px;
}

.checkout-box .header{
    margin-top:-7px!important;
}

.checkout-box .no-space{
    margin-top:0px!important;
}

.box-frete .input-group{
    margin-bottom:10px;
}

.box-frete .input-group .input-group-btn a{
    margin-left:3px;
}

.checkout-box .shipping_cost{
    margin-bottom:10px;
}

.checkout-box.m-top30{
    margin-top:30px;
}

.open>.dropdown-submenu{
    display:block;
}

.dropdown-submenu{
    list-style: none;
    font-size: 14px;
    list-style: none;
    position: absolute;
    left: 100%;
    min-width: 150px;
    top: 0;
    padding:0px;
    text-align:left;
    display:none;
}

.dropdown-menu .sub-caret{
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #fff;
    display: inline-block;
    margin-left: 10px;
}

.dropdown-submenu>li>a{
    display:block;
    white-space: nowrap;
    letter-spacing:0.5px;
}

.dropdown-menu .list-limiter{
    margin:0px;
    list-style-type:none;
    padding:0px;
}

.block-list-limiter{
    list-style: none;
    text-align: left;
    display:inline-block;
    float: left;
}

.block-list-limiter > ul{
    float:left;
    display:inline-block;
}

.block-list-limiter .list-limiter li a{
    display:block;
}

.panel-checkout,
.panel-checkout > .panel-heading{
    border-radius:0px;
}

.panel-checkout > .panel-heading{
    background-color:#474747;
    color:#fff;
    padding:7px 10px;
}

.panel-checkout > .panel-heading > i{
    margin-right:10px;
}

.cart-functions{
    margin-top:20px;
}

.panel-checkout .input-group{
    width:100%;
}

.panel-checkout .input-group.ticket > input:first-child{
    width:55%;
}

.panel-checkout .input-group.ticket > input:second-child{
    width:43%;
}

#form-email{
    display: block;
    padding: 15px 0px;
    background-color: #f4f4f4;
    margin-top:10px;
}

#form-email .input-group{
    max-width:400px;
    margin:5px auto;
    display:block;
}

#form-email .input-group > input{
    width:70%;
    display:inline-block;
}

#form-email .input-group > button{
    width:29%;
    display:inline-block;
}

#form-email p{
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
}

.custom-alerts .alert{
    margin: 0px 0px 10px 0px!important;
}

#checkout_hidden{
    display:none;
}

#cartview .page-header > *{
    width:30%;
    display:inline-block;
    margin:0px 1.5%;
}

#cartview .page-header{
    margin-bottom:0px;
}

#cartview .page-header > a{
    font-size:14px;
}

#cartview .page-header > h2{
    border:0px;
    text-align:center;
}

#cartview .cart_finish{
    text-transform: uppercase!important;
    letter-spacing: 2px!important;
    font-size: 14px!important;
}

#cartview .cart_finish:hover{
    color: #fff;
}

#cartview .final_step h2{
    width:100%;
    text-align:center;
}

.width_full{
    width:100%!important;
}

.fora {
    display: none;
}
#tab-testimonials {
display: block;
border-top: 1px solid #eee;
margin-top: 40px;
}