#topcontrol .top_button{
    margin-bottom: 50px;
}
/* FONT */
div,span,p,h1,h2,h3,h4,h5,h6{
    font-family: Didact Gothic;
}

/* BG */
body{
    background-color: #ffffff; 
    background-attachment: inherit;
}

/* BOX */
.box{
    box-shadow: 0 0 10px #bbbbbb;
}

/* TOPO */
#topbar{
    background-color: #000000;
}

/* HEADER */
header .logo-base{
background-color: #ffffff;
}

/* MENU */
#menu .navbar-nav{
background-color: #ffffff;
}

/* CONTENT */
#h-social .inner-content,
#blog .inner-content,
#store-content .inner-content{
background-color: #ffffff;
}

/* FOOTER */
footer .block{
background-color: #ffffff;
}


/* ADJUST */
.adjust{
margin-top: px;
}

/* ALTURA IMAGEM */
#store-content .product-list-item .prod-wrapper .prod-image{
height: 453px;
}

#store-content .cat-prod-list .prod-wrapper .prod-image{
height: 402px;
}

/* BUTTONS */
#store-content .btn-primary{
background: #000000;
color: #ffffff;
}

#store-content .btn-primary:hover{
background: #666666;
}

#topcontrol .top_button{
background: #000000;
}

#topcontrol .top_button:hover{
background: #333333;
}

#topcontrol .top_button:after{
border-bottom-color: #ffffff;
}

/* BORDERS */
/* TOP */
    #topbar .list-inline{
border-top: none;
}

    #topbar .list-inline{
border-bottom: none;
}

/* MENU */
   #menu .navbar{
border-top: none;
}

    #menu .navbar{
border-bottom: none;
}

    #menu .navbar-nav>li:hover{
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}

/* LIST PROD */
    #store-content .prod-wrapper .prod-action{
border-top: 1px solid #e4e4e4;
}
            #store-content .prod-wrapper .prod-action{
border-bottom: none;
}

/* FOOTER */
                    footer .block:first-child{
    border-top: 2px solid #000000;
}  
                        footer .config{
border-top: none;
}  
            footer .block:last-child{
border-bottom: none;
}

/* LANGUAGE */
    footer .config{
border-top: 1px dotted #aaaaaa;
}
            footer .config{
border-bottom: 1px dotted #aaaaaa;
}

/* LINKS & BUTTONS */
a{
color: #000000;
}

a:hover{
color: #666666;
}

a:focus{
color: #666666;
text-decoration: none;
}

#topbar .list-inline li a{
color: #ffffff;
}    

#topbar .list-inline li a:hover{
color: #969696;
}

footer .block button,
#store-content .btn-primary,
#blog .blog-item .readmore{
background: #000000;
color: #ffffff;
}

footer .block button:hover,
#store-content .btn-primary:hober,
#blog .blog-item .readmore:hover{
background: #666666;
}

#topcontrol .top_button{
background: #000000;
}

#topcontrol .top_button:hover{
background: #333333;
}

#topcontrol .top_button:after{
border-bottom-color: #ffffff;
}

#store-content .add-to-wishlist .btn-primary,
#store-content .prod-size-table .btn-primary{
background: #000000;
color: #ffffff;
}

#store-content .add-to-wishlist .btn-primary:hover,
#store-content .prod-size-table .btn-primary:hover{
background: #727272;
}

/* TOP */

#topbar .list-inline i.glyphicon-shopping-cart{
background: #000000;
color: #ffffff;
}

/* SEARCH */

#top-search .input-group input :-moz-placeholder,
#top-search .input-group input ::-webkit-input-placeholder{
color: #000000;
}

#top-search .input-group{
border-color: #dddddd;
}

#top-search .input-group input{
background: #fafafa;
color: #000000;
}

#top-search .input-group button{
background: #fafafa;
}

#top-search .input-group button i{
color: #666666;

}

#top-search .input-group button:hover i{
color: ;
}

#top-search .input-group button:hover{
background: #e4e4e4;
}

.arrowup{
border-bottom-color: #ffffff;
}

#search-results-in{
background: #ffffff;
}

#search-results a:hover, #search-results a.up{
background: #fafafa;
}

#search-results .line .desc .name{
color: rgba(0,0,0,1);
}

#search-results .line .desc .category{
color: #999999;
}

#search-results .line .desc .price .saleprice{
color: #999999;
}

#search-results .line .desc .price{
color: #000000;
}

#search-results .last{
background: #ffffff;
color: #666666;
}

#search-results .last a:hover, #search-results .last a.up{
background: #fafafa;
color: #333333;
}

/* MENU */

#menu .navbar-nav .dropdown-menu,
#menu .navbar-nav .dropdown-submenu{
background: #000000;
}

#menu .navbar-nav .dropdown-menu a{
color: #eeeeee;
}

#menu .navbar-nav .dropdown-menu a .sub-caret{
border-left-color:#eeeeee!important;
}

#menu .navbar-nav .dropdown-menu a:hover{
color: #ffffff;
}

#menu .navbar-nav>li a .caret{
border-top-color: #000000;;
border-bottom-color: #000000;;
}

.navbar-default .navbar-nav>li>a{
color: #000000;
}

#menu .navbar-nav>li a:hover .caret{
border-top-color: #969696;;
border-bottom-color: #969696;;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
color: #969696;
}

/* BANNER */
.carousel-control .arrowright:after,
.carousel-control.left{
border-left-color: #ffffff;
}
.carousel-control .arrowleft:after,
.carousel-control.right{
border-right-color: #ffffff;
}

.carousel-control .arrowright{
border-left-color: #666666;
}

.carousel-control.right:hover .arrowright{
border-left-color: #333333;
}

.carousel-control .arrowleft{
border-right-color: #666666;
}

.carousel-control.left:hover .arrowleft{
border-right-color: #333333;
}

.carousel-indicators .active{
background: #ffffff;
}

.carousel-indicators li{
border-color: #ffffff;
}

/* SIDEBAR */

.sidebar .side-header{
background: #000000;
color: #fffcfc;
}

.sidebar ul{
border-color: #e4e4e4;
}

.sidebar ul li a{
background: #ffffff;
color: #666666;
}

.sidebar ul li a:hover{
background: #e4e4e4;
color: #000000;
}

/* PRODLIST */
#store-content .prod-wrapper .prod-info,
#store-content .prod-wrapper{
background: #ffffff;
}

#store-content .prod-wrapper .prod-info a{
color: #000000;
}

#store-content .prod-wrapper .prod-info a:hover{
color: #707070;
}

#store-content .prod-wrapper .prod-info p .slash{
color: #000000;
}

#store-content .prod-wrapper .prod-info .buy-price strong,
#store-content #ProdModal .prod-price strong{
color: #720303;
}

#store-content .prod-wrapper .prod-info .installments-price strong,
#store-content .prod-wrapper .prod-info .installments-price{
color: #939393;
}

#store-content .prod-wrapper .prod-action{
background: #ffffff;
color: ;
}

#store-content .prod-wrapper .prod-action:hover{
background: #000000;
border-color: #000000;
}

#store-content .prod-wrapper .prod-action a,
#store-content .prod-wrapper .prod-action span{
color: #000000;
}

#store-content .prod-wrapper .prod-action:hover a,
#store-content .prod-wrapper .prod-action:hover span{
color: #ffffff;
}

/* PRODUCT */

#gallery img{
border-color: #dddddd;
}

#store-content #product .prod-image-thumbs .active img, #gallery a:hover img{
border-color: #bbbbbb;
}

#store-content #product .showcase .prod-image{
border-color: #ffffff;
}

#store-content #product .showcase .prod-image img{
border-color: #ffffff;
}

.zoomWindow{
border-color: #000000;
}

/* GUIDELINE */

.block-header span{
color: #000000;
}

.block-header{
border-bottom-color: #000000;
}

#store-content .prod-title{
color: #000000;
}

#store-content .prod-sub{
background: #ffffff;
border-top-color: #cccccc;
color: #919191;
}

#store-content .prod-sub .prod-ref {
color: #919191;
}

#store-content .prod-sub .prod-secure{
color: #ffffff;
}

#store-content .prod-excerpt p{
color: #4f4f4f;
}

#store-content .prod-description .tab-content {
color: ;
}

#product .prod-action .estoque {
color: ;
}

#product .prod-action .estoque span {
color: ;
font-weight: bold;
}

#store-content .prod-frete,
#store-content #product .prod-variants{
background: #f9f9f9;
border-color: #bbbbbb;
}

#store-content #product .showcase .prod-action{
background: #ffffff;
}

#product .prod-action .buy-price .slash{
color: #999999;
}

#look .buy-price .onsale,
#product .prod-action .buy-price .sale{
color: #000000;
}

#product .prod-action .installments-price{
color: #999999;
}

#product .prod-action .buy-btn{
background: #000000;
color: #ffffff;
}

#product .prod-action .buy-btn:hover{
background: #686868;
}

#product .buy-message{
background: #ffffff;
color: #000000;
}

#product .prod-action .buy-btn-form .alert-danger{
background: #e5e5e5;
color: #000000;
}

#product .prod-action .remindme-form fieldset label{
color: #000000;
}

#product .prod-action .remindme-form fieldset input[type=submit]{
background: #000000;
color: #ffffff;
}

#product .prod-action .remindme-form fieldset input[type=submit]:hover{
background: #878787;
}

/* PAGE */

.page-header{
border-bottom-color: ;
color: #333333;
}

/* FLAGS */

#store-content .promo{
background: #000000;
color: #ffffff;
}

#store-content .off{
background: #000000 ;
color: #ffffff ;
}

#store-content .out{
background: #000000 ;
color: #ffffff ;
}

/* BLOG */

#blog .blog-item .time{
color: ;
}

#blog .blog-item .title a{
color: #000000;
}

#blog .blog-item .title a:hover{
color: #333333;
}

#blog .blog-item .resume{
background: #f0f0f0;
color: #333333;
}

.blog-item .item-date,
.blog-item .item-title{
background: #000000;
}

.blog-item .item-date{
color: #ffffff;
}

.blog-item .item-title a{
color: #666666;
}

.blog-item .item-title a:hover{
color: #ffffff;
}




.blog-item img:hover{
transform:scale(1.1);
}


/* POPUP */

#popup .modal-content,
#exit_popup .modal-content{
background: #ffffff;
}

#popup .modal-body h1,
#exit_popup .modal-body h1{
color: #000000;
}

#popup .modal-body p,
#exit_popup .modal-body p{
color: #000000;
}

#popup .modal-body span,
#exit_popup .modal-body span{
color: #666666;
}

#popup button,
#exit_popup button{
background: #000000;
color: #ffffff;
}

#popup button:hover,
#exit_popup button:hover{
background: #666666;
}

#popup .close,
#exit_popup .close{
background: #000000;
color: #ffffff;
}

#popup .close:hover,
#exit_popup .close:hover{
background: #666666;
}

/* FOOTER */

footer p,
footer small,
footer h4,
footer .config ul li,
footer .links ul li{
color: #333333;
}

footer .links ul li a{
color: #000000;
}

footer .links ul li a:hover{
color: #666666;
}

footer form input{
background: #ffffff;
border-color: #e4e4e4;
color: #666666;
}

footer form input:focus{
border-color: #999999;
}

footer .block button{
background: #000000;
}

footer .block button:hover{
background: #666666;
}

.social-icons{
color: #666666;
}

.social-icons:hover{
color: #000000;
}

#ProdModal .btn-finalizar{
background-color: green;
color: #fff;
}


#flash .alert{
background-color:
}

#flash .alert .close-alert{
color:;
}

#flash .alert-danger{
color:
}

#flash .alert-warning{
color:
}

#flash .alert-info{
color:
}

#cartview .cart_finish{
border-color:#000000;
color:#ffffff;
background-color:#000000;
}